version: '3.8'

services:
  acexy:
    image: ghcr.io/javinator9889/acexy
    container_name: acexy
    network_mode: host
    command: ["-addr", ":7171"]
    restart: unless-stopped
    tty: true
    stdin_open: true
    depends_on:
          - acestream
  acestream:
    container_name: acestream
    ports:
        - 6878:6878
    image: jopsis/acestream:arm64-v3.2.13
